<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="margin-top: 46px">
    <h3>影院</h3>
    <a href="{:U('Cinemas/index')}" target="_blank">影院列表</a>
    <a href="{:U('MovieHalls/index')}" target="_blank">影厅列表</a>
    <a href="{:U('Movies/index')}" target="_blank">电影列表</a>
    <a href="{:U('Publish/index')}" target="_blank">发布电影</a>
</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" style="margin-top: 46px" id="cbp-spmenu-s2">
    <h3>用户</h3>
    <a href="{:U('Users/index')}" target="_blank">用户列表</a>
    <a href="{:U('Users/userComments')}" target="_blank">评论列表</a>
    <a href="{:U('Users/userOrders')}" target="_blank">订单列表</a>
</nav>

