<!--修改试题名模态框-->

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade bs-example-modal-sm" id="pedit" role="dialog"
     style="margin-top: 8%;height: 200px" tabindex="-1">

    <div class="modal-sm"
         style="margin-top:-30px; z-index: 1050; width: auto;padding: 10px;margin-right: auto;margin-left: auto;right: auto;left: 50%;padding-top: 10px;padding-bottom: 30px;">
        <div style="border-radius: 5px;">
            <div style="  height: 180px; padding-bottom:0px; border-bottom:20px;padding-left:0px;padding-right:0px;background-color: #ffffff">
                <button aria-label="Close" class="close" data-dismiss="modal" style="height:50px;" type="button">
                    <span
                            style="height:50px;padding:10px 40px 10px 0px;background-image: url('__PUBLIC__/assets/images/close.jpg') ;background-size:100%;background-repeat: no-repeat"></span>
                </button>
                <form action="{:U('Painfo/updateEditePname')}" enctype="multipart/form-data" method="post">
                    <input class="pid" name="pid" type="hidden">
                    <div style="margin-bottom:10px;margin-top: 20px">
                        <label for="pname" style="display: table-cell;"><p
                                style="position: relative;top:40px;left: 150px;font-family: 微软雅黑">试卷名称</p></label>
                        <div style="display: table-cell">
                            <input class="form-control" id="pname" name="pname" placeholder="请输入试卷名称" required
                                   style="margin-top: 90px;width: 180px; height: 30px; font-size: 10px;position: relative;left: 176px;font-family: 微软雅黑"
                                   type="text">
                        </div>
                        <div style="display: table-cell">
                            <span id="flagpname" style="position: relative;left: 200px;top:45px;"></span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $("#pname").mouseout(function () {
                            $("#flagpname").removeAttr("class");
                            var pname = $("#pname").val().trim();
                            if (pname != "")
                                $.ajax({
                                    url: "{:U('Painfo/checkR')}",
                                    data: {pname: pname},
                                    type: 'post',
                                    cache: false,
                                    dataType: 'json',
                                    success: function (data) {

                                        if (data.flag) {
                                            $('#flagpname').addClass('glyphicon glyphicon-remove');
                                        } else {
                                            $('#flagpname').addClass('glyphicon glyphicon-ok');
                                        }
                                    }
                                });
                        });
                    </script>
                    <input class="btn btn-info"
                           style="position:relative;left:230px;margin-top:10px; width:130px;font-family: 微软雅黑;background-color:#0090ff;font-size:10px"
                           type="submit" value="修改">
                </form>
            </div>
        </div>
    </div>
</div>
