<div class="navbar navbar-fixed-top ">
    <div class="container-fluid top-bar" style="background-color: #f8f8f8;">
        <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user hidden-xs"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img height="34" src="__PUBLIC__/Upload/{$Think.session.pica}" width="40"/>{$Think.session.aname}<b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Index/logout')}">
                            <i class="icon-signout"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <img alt="" height="45px" src="__PUBLIC__/assets/images/logo1.gif" style="position: relative" width="160px"/>
    </div>
</div>